<% include snippets/head.ejs %>

<div class="content">
	<h1 class="content__title">Charity Help</h1>
	<ul id="stack_krisna" class="stack stack--krisna">
		<li class="stack__item color-1">
			<h2>Hello</h2>
			<p>A charity that does lots of good for the community. </p>
		</li>
		<li class="stack__item color-2">
			<h2>Computer Lab Support in Cambridge</h2>
			<p>Help for struggling computer science students in Cambridge.</p>
		</li>
		<li class="stack__item color-3">
			
		</li>
		<li class="stack__item">
			
		</li>
	</ul>
	<div class="controls">
		<button class="button button--default button--reject" data-stack="stack_krisna">Nope</button>
		<button class="button button--default button--accept" data-stack="stack_krisna">Interested</button>
	</div>
</div>

<% include snippets/footer %>