<% include snippets/head %>

<h1>Charity Help</h1>

<form action="choose" method="POST">
	
	<label for="type">I want to</label>
	<input type="text" name="type" />
	<label for="type">in the area</label>
	<input type="text" name="location" />

	<input type="submit" value="Search" class="button" />
</form>

<% include snippets/footer %>
