<% include snippets/head %>




<div class="container">

	<div class="grid">
	  	<div class="grid-item grid-item--width2">
	  		<div class="card-grid card-color-none" style="padding:20px">
				<h1>Get involed in these charities</h1>
				<p>Find out more information about these charities and get involved.</p>
				<a href="/" class="button">
				<img src="images/return.png" width="30" class="button-icon"/>Restart</a>
			</div>
		</div>
		
		<div class="grid-item grid-item--width2">
			<div class="card card-grid color-2">
				<h2>Help the Homeless</h2>
				<p>A charity which provides help and support for homeless people in the local community.</p>

				<ul class="data-box">
					<li>Local Charity</li>
					<li>Founded in 2003</li>
					<li>1600 members</li>
					<li><a href="#">http://helphomeless.com</a></li>
				</ul>
			</div>
		</div>

	 	<div class="grid-item grid-item--width2">
			<div class="card card-grid color-3">
				<h2>Shelter</h2>
				<p>Providing shelter to people on the streets in Cambridge.</p>

				<ul class="data-box">
					<li>Local Charity</li>
					<li>Founded in 2010</li>
					<li>160 members</li>
					<li><a href="#">http://shelter.com</a></li>
				</ul>
			</div>
		</div>
	  
	  	<div class="grid-item grid-item--width2">
			<div class="card card-grid">
				<h2>Provide Food</h2>
				<p>Giving food to people in need in the local Cambridge area.</p>

				<ul class="data-box">
					<li>Local Charity</li>
					<li>Founded in 2000</li>
					<li>30 members</li>
					<li><a href="#">http://providefood.com</a></li>
				</ul>
			</div>
		</div>
	 
	</div>
</div>

<script src="js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script>

$('.grid').masonry({
  // set itemSelector so .grid-sizer is not used in layout
  itemSelector: '.grid-item',
  percentPosition: true
});

</script>
<% include snippets/footer %>
