<% include snippets/head %>

<h1>Results</h1>
<a href="/">Restart</a>
<div class="container">
	<div class="row">
		<div class="one-half column">
			<div class="card card-grid">
				<h2>Cambridge Homeless Help</h2>


			</div>
			<div class="card card-grid color-3">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
		</div>
		<div class="one-half column">
			<div class="card card-grid color-2">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
			<div class="card card-grid color-1">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
		</div>
	</div>
</div>

<% include snippets/footer %>
