<% include snippets/head %>




<div class="container">
	<div class="row">
		<div class="one-half column">
		
		<div class="card-grid card-color-none">
			<h1>Get involed in these charities</h1>
			<p>Find out more information about these charities and get involved.</p>
			<a href="/" class="button">
			<img src="images/return.png" width="30" class="button-icon"/>Restart</a>
		</div>
			<div class="card card-grid">
				<h2>Cambridge Homeless Help</h2>
				<p>A great page to find out all about the homeless people and how you can help out.</p>

			</div>
			<div class="card card-grid color-3">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
		</div>
		<div class="one-half column">
			<div class="card card-grid color-2">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
			<div class="card card-grid color-1">
				<h2>Great! Now take a look at the charities you have selected.</h2>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="js/masonry.pkgd.min.js">

<% include snippets/footer %>
