*, *:before, *:after {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	background: #F4F1BB;
  	padding: 50px;
}

h1 {
	font-weight: bold;
	font-size:5rem;
}

a {
  color: #00B7FF;
}


.color-1 {
	background: #ED6A5A;
}

.color-2 {
	background: #5CA4A9;
}

.color-3 {
	background: #9BC1BC;
}