	
	<script src="js/modernizr-custom.js"></script>
	<script src="js/dynamics.min.js"></script>
	<script src="js/cards.js"></script>
    <script src="js/classie.js"></script>

    <script src="js/main.js"></script>
    
	</body>
</html>