<!DOCTYPE html>
<html>
  <head>

  	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/png" href="/images/icon/icon-small.png" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/cards.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<title>ChariFlicks</title>
  </head>
  <body>